PORT=3000
REDIS_URL=redis://localhost:6379
CACHE_TTL_SECONDS=60
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_URL=amqp://your_rabbitmq_user:your_rabbitmq_password@localhost:5672
RABBITMQ_QUEUE=h_news_events
